@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body,
#root {
  margin: 0;
  font-size: 14px;
  min-height: 100vh;
  background-color: white;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

html {
  width: 100vw;
}

@keyframes toastBackground {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -50vw 0;
  }
  100% {
    background-position: 50vw 0;
  }
}
